/* ::::: http://www.textfixer.com/css/thestyle-2016.css ::::: */

p { line-height: 21px; }
li { line-height: 21px; }
@media screen and (min-width: 950px) {
	body { margin: 0px; padding: 0px; font-family: Arial,Verdana,sans-serif; font-size: 15px; color: rgb(97, 61, 45); background: rgb(255, 255, 255) url('pageback.png') repeat-x scroll left top; }
	#wrapper { width: 960px; margin: 0px auto; padding: 0px; }
	#header { background: transparent url('headerback.png') no-repeat scroll center top; margin: 10px 0px 0px; }
	#content { width: 728px; float: left; margin: 0px; padding: 0px; }
	#sidebar { margin: -10px 0px 20px; padding: 0px; width: 210px; float: right; }
	#sidebarTop { margin: 24px 0px 0px; padding: 0px; }
	.adleft { margin: 20px 21px 8px 0px; float: left; }
	#nav { margin: 10px 0px 20px; padding: 0px; overflow: hidden; }
	#nav ul { margin: 0px; padding: 0px; float: left; }
	#nav ul li { display: inline-block; margin: 0px; padding: 0px; background: transparent url('listback.png') no-repeat scroll right top; }
	#nav ul li a { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; float: left; text-decoration: none; font-size: 20px; color: rgb(255, 255, 255); padding: 10px 21px 12px 19px; background: transparent url('linkback.png') repeat scroll 0% 0%; border-right: 1px solid rgb(255, 255, 255); height: 35px; }
	#nav ul li a:visited { color: rgb(255, 255, 255); }
	#nav ul li a:hover, #nav ul li #current { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; padding: 19px 16px 3px 24px; background: transparent url('linkbackhover.png') no-repeat scroll left top; border-right: 1px solid rgb(93, 159, 232); color: rgb(255, 255, 255); }
	.htmltools a { border-left: 1px solid rgb(255, 255, 255); }
}
@media screen and (max-width: 949px) {
	body { margin: 0px; padding: 0px; font-family: Arial,Verdana,sans-serif; font-size: 15px; color: rgb(97, 61, 45); background: rgb(255, 255, 255) url('pageback.png') repeat-x scroll left top; }
	#wrapper { width: 96%; margin: 0px 2%; padding: 0px; }
	#header { background: transparent url('headerback.png') no-repeat scroll center top; margin: 10px 0px 0px; }
	#content { width: 100%; margin: 0px; padding: 0px; }
	#sidebar { display: none; }
	#sidebarTop { display: none; }
	#sidebarTop2 { display: none; }
	#sidebarTop3 { display: none; }
	.adleft { margin: 20px 21px 8px 0px; float: left; }
	#nav { margin: 10px 0px 20px; padding: 0px; overflow: hidden; }
	#nav ul { margin: 0px; padding: 0px; float: left; }
	#nav ul li { display: inline-block; margin: 0px; padding: 0px; background: transparent url('listback.png') no-repeat scroll right top; }
	#nav ul li a { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; float: left; text-decoration: none; font-size: 18px; color: rgb(255, 255, 255); padding: 10px 21px 12px 19px; background: transparent url('linkback.png') repeat scroll 0% 0%; border-right: 1px solid rgb(255, 255, 255); height: 35px; }
	#nav ul li a:visited { color: rgb(255, 255, 255); }
	#nav ul li a:hover, #nav ul li #current { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; padding: 19px 16px 3px 24px; background: transparent url('linkbackhover.png') no-repeat scroll left top; border-right: 1px solid rgb(93, 159, 232); color: rgb(255, 255, 255); }
	.htmltools a { border-left: 1px solid rgb(255, 255, 255); }
}
@media screen and (max-width: 845px) {
	body { margin: 0px; padding: 0px; font-family: Arial,Verdana,sans-serif; font-size: 15px; color: rgb(97, 61, 45); background: rgb(255, 255, 255) url('pageback.png') repeat-x scroll left top; }
	#wrapper { width: 96%; margin: 0px 2%; padding: 0px; }
	#header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	#content { width: 100%; margin: 0px; padding: 0px; }
	#sidebar { display: none; }
	#sidebarTop { display: none; }
	#sidebarTop2 { display: none; }
	#sidebarTop3 { display: none; }
	.adleft { margin: 20px 21px 8px 0px; float: left; }
	#nav { margin: 10px 0px 20px; padding: 0px; overflow: hidden; }
	#nav ul { margin: 0px; padding: 0px; float: left; }
	#nav ul li { display: inline-block; margin: 0px; padding: 0px; background: transparent url('listback.png') no-repeat scroll right top; }
	#nav ul li a { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; float: left; text-decoration: none; font-size: 18px; color: rgb(255, 255, 255); padding: 10px 11px 12px 9px; background: transparent url('linkback.png') repeat scroll 0% 0%; border-right: 1px solid rgb(255, 255, 255); height: 35px; }
	#nav ul li a:visited { color: rgb(255, 255, 255); }
	#nav ul li a:hover, #nav ul li #current { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; padding: 19px 6px 3px 14px; background: transparent url('linkbackhover.png') no-repeat scroll left top; border-right: 1px solid rgb(93, 159, 232); color: rgb(255, 255, 255); }
	.htmltools a { border-left: 1px solid rgb(255, 255, 255); }
}
@media screen and (max-width: 720px) {
	body { margin: 0px; padding: 0px; font-family: Arial,Verdana,sans-serif; font-size: 16px; color: rgb(97, 61, 45); background: rgb(255, 255, 255) url('pageback.png') repeat-x scroll left top; }
	#wrapper { width: 96%; margin: 0px 2%; padding: 0px; }
	#header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	#content { width: 100%; margin: 0px; padding: 0px; }
	#sidebar { display: none; }
	#sidebarTop { display: none; }
	#sidebarTop2 { display: none; }
	#sidebarTop3 { display: none; }
	.adleft { margin: 20px 21px 8px 0px; float: left; }
	#nav { margin: 10px 0px 20px; padding: 0px; overflow: hidden; }
	#nav ul { margin: 0px; padding: 0px; float: left; }
	#nav ul li { display: inline-block; margin: 0px; padding: 0px; background: transparent url('listback.png') no-repeat scroll right top; }
	#nav ul li a { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; float: left; text-decoration: none; font-size: 15px; color: rgb(255, 255, 255); padding: 10px 11px 12px 9px; background: transparent url('linkback.png') repeat scroll 0% 0%; border-right: 1px solid rgb(255, 255, 255); height: 35px; }
	#nav ul li a:visited { color: rgb(255, 255, 255); }
	#nav ul li a:hover, #nav ul li #current { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; padding: 19px 6px 3px 14px; background: transparent url('linkbackhover.png') no-repeat scroll left top; border-right: 1px solid rgb(93, 159, 232); color: rgb(255, 255, 255); }
	.htmltools a { border-left: 1px solid rgb(255, 255, 255); }
	p { line-height: 24px; }
	li { line-height: 32px; }
}
@media screen and (max-width: 660px) {
	body { margin: 0px; padding: 0px; font-family: Arial,Verdana,sans-serif; font-size: 16px; color: rgb(97, 61, 45); background: rgb(255, 255, 255) url('pageback.png') repeat-x scroll left top; }
	#wrapper { width: 96%; margin: 0px 2%; padding: 0px; }
	#header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	#subscribe { display: none; }
	#content { width: 100%; margin: 0px; padding: 0px; }
	#sidebar { display: none; }
	#sidebarTop { display: none; }
	#sidebarTop2 { display: none; }
	#sidebarTop3 { display: none; }
	.adleft { margin: 10px; float: none; }
	#nav { margin: 10px 0px 20px; padding: 0px; overflow: hidden; }
	#nav ul { margin: 0px; padding: 0px; float: left; }
	#nav ul li { display: inline-block; margin: 0px; padding: 0px; background: transparent url('listback.png') no-repeat scroll right top; }
	#nav ul li a { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; float: left; text-decoration: none; font-size: 15px; color: rgb(255, 255, 255); padding: 10px 11px 12px 9px; background: transparent url('linkback.png') repeat scroll 0% 0%; border-right: 1px solid rgb(255, 255, 255); height: 35px; }
	#nav ul li a:visited { color: rgb(255, 255, 255); }
	#nav ul li a:hover, #nav ul li #current { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; padding: 19px 6px 3px 14px; background: transparent url('linkbackhover.png') no-repeat scroll left top; border-right: 1px solid rgb(93, 159, 232); color: rgb(255, 255, 255); }
	.htmltools a { border-left: 1px solid rgb(255, 255, 255); }
	p { line-height: 24px; }
	li { line-height: 36px; }
}
@media screen and (max-width: 565px) {
	body { margin: 0px; padding: 0px; font-family: Arial,Verdana,sans-serif; font-size: 16px; color: rgb(97, 61, 45); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	#wrapper { width: 96%; margin: 0px 2%; padding: 0px; }
	#header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	#subscribe { display: none; }
	#content { width: 100%; margin: 0px; padding: 0px; }
	#sidebar { margin: 5px 0px 20px; padding: 0px; }
	#sidebarTop { display: none; }
	#sidebarTop2 { display: inline-block; margin: 0px 3% 0px 0px; padding: 0px; float: none; width: 95%; }
	#sidebarTop3 { display: inline-block; margin: 0px 3% 0px 0px; padding: 0px; float: none; width: 95%; }
	#bh210 { display: none; }
	.adleft { margin: 10px; float: none; }
	#nav { margin: 3px 0px 6px; padding: 0px; background: rgb(93, 159, 232) none repeat scroll 0% 0%; overflow: hidden; }
	#nav ul { margin: 0px; padding: 0px; float: left; }
	#nav ul li { display: inline-block; margin: 0px; padding: 0px; }
	#nav ul li#about { display: none; }
	#nav ul li a { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; float: left; text-decoration: none; font-size: 15px; color: rgb(255, 255, 255); padding: 3px; background: rgb(93, 159, 232) none repeat scroll 0% 0%; border-right: 1px solid rgb(255, 255, 255); height: 35px; }
	#nav ul li a:visited { color: rgb(255, 255, 255); }
	#nav ul li a:hover, #nav ul li #current { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; padding: 3px; background: rgb(234, 111, 21) none repeat scroll 0% 0%; border-right: 1px solid rgb(93, 159, 232); color: rgb(255, 255, 255); }
	.htmltools a { border-left: 1px solid rgb(255, 255, 255); }
	p { line-height: 24px; }
	li { line-height: 36px; }
}
noscript { background-color: rgb(255, 255, 0); padding: 40px; }
a:link { color: rgb(59, 110, 154); text-decoration: underline; }
a:visited { color: rgb(59, 110, 154); text-decoration: underline; }
a:active { color: rgb(62, 142, 211); text-decoration: underline; }
a:hover { color: rgb(232, 96, 50); text-decoration: underline; }
img { border: 0px none; }
h1 { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; font-size: 27px; color: #da3f7b ; margin: 0px; padding-top: 0px; }
h2 { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; font-size: 18px; color: #da3f7b ; margin: 0px; padding: 8px 0px; }
h3 { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; font-size: 16px; color: #da3f7b ; margin: 0px; padding: 8px 0px; }
#logo { display: block; width: 228px; height: 44px; background: transparent url('textfixer.png') repeat scroll center bottom; text-indent: -99999px; }
#logo:hover { background-position: 0px 0px; }
#subscribe { float: right; }
.online-tools { margin: 0px 0px 20px; padding: 20px; border: 1px dashed rgb(153, 153, 153); background-color: rgb(223, 236, 250); clear: both; border-radius: 12px; }
form { padding: 0px; margin: 0px; }
textarea { width: 99%; margin: 0px; padding: 0px; }
form h2 { margin: 0px; padding: 0px; }
.frmbtn { margin: 0px 0px 20px; padding: 6px 9px; color: rgb(0, 102, 153); font-size: 15px; cursor: pointer; }
#ftr { clear: both; margin: 10px 0px 0px; padding: 0px; border-top: 1px solid rgb(173, 161, 142); text-align: right; font-size: 11px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(126, 124, 121); }
#fmenu li { display: inline; list-style-type: none; margin: 0px; padding: 0px; font-size: 13px; }
#fmenu li a { border-left: 1px dotted rgb(121, 173, 231); margin: 0px; padding: 0px 5px; text-decoration: none; }
#fmenu li:first-child { padding-right: 10px; }
#popular-tools { font-family: Arial,Verdana,sans-serif; font-size: 19px; color: rgb(255, 255, 255); margin: 0px; padding: 6px 18px 4px 14px; background: rgb(93, 157, 228) none repeat scroll 0% 0%; border-radius: 9px 9px 0px 0px; }
.more-tools { font-family: Arial,Verdana,sans-serif; font-size: 19px; color: rgb(255, 255, 255); margin: 0px; padding: 6px 18px 4px 14px; background: rgb(93, 157, 228) none repeat scroll 0% 0%; border-radius: 9px 9px 0px 0px; }
#sidebar ul { background-color: rgb(255, 255, 255); margin: 0px 0px 15px; padding: 0px; list-style-type: none; border: 1px solid rgb(69, 146, 212); }
#sidebar li { margin: 0px; padding: 0px; list-style-type: none; font-size: 11px; text-transform: uppercase; }
#sidebar li a { display: block; margin: 0px; padding: 3px 3px 3px 10px; text-decoration: none; background-color: rgb(255, 255, 255); border-top: 1px dashed rgb(137, 189, 234); color: rgb(24, 92, 168); border-left: 5px solid rgb(255, 255, 255); border-right: 5px solid rgb(255, 255, 255); }
#sidebar li a:hover { display: block; margin: 0px; padding: 3px 3px 3px 10px; text-decoration: none; background-color: rgb(93, 157, 228); border-top: 1px dashed rgb(137, 189, 234); color: rgb(255, 255, 255); border-left: 5px solid rgb(69, 146, 212); border-right: 5px solid rgb(69, 146, 212); font-weight: bold; }
#sidebarorange { background: rgb(232, 96, 50) none repeat scroll 0% 0%; margin: 0px 0px 15px; padding: 16px 10px 18px 18px; color: rgb(255, 255, 255); border-radius: 9px; }
.headlineorange { font-family: Arial,Verdana,sans-serif; font-size: 17px; color: rgb(255, 255, 255); margin: 0px; padding: 0px; }
.paraorange { margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 16px; }
a.orangey:link { color: rgb(255, 255, 255); text-decoration: underline; }
a.orangey:visited { color: rgb(255, 255, 255); text-decoration: underline; }
a.orangey:active { color: rgb(255, 255, 255); text-decoration: underline; }
a.orangey:hover { color: rgb(0, 0, 0); text-decoration: underline; }
a.orangey2:link { color: rgb(255, 255, 255); text-decoration: none; }
a.orangey2:visited { color: rgb(255, 255, 255); text-decoration: none; }
a.orangey2:active { color: rgb(255, 255, 255); text-decoration: none; }
a.orangey2:hover { color: rgb(0, 0, 0); text-decoration: none; }
a.shareicon:hover { opacity: 0.5; }
