/* app css stylesheet */
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
body{
    margin: 0
}
.card-container {
  width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid #CCC;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}



.card .back {
  background: blue;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.message {
  width: 660px;
  text-align: center;
}
.puzzle-container{
  position: relative;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100vw;
}
.you-win{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  font-size: 50px;
  line-height: 100%;
}
.you-win div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Press Start 2P', cursive;
    color: white;

}

.puzzle-container{
	text-align:center;
}
.puzzle-container table{
	display:inline-block;
}
.flat-btn{
    display: block;
    margin: 15px auto;
    font-family: 'Press Start 2P', cursive;
    padding: 15px;
    font-size: 18px;
    background: white;
    border: grey;
    text-decoration: none;
    color: black;
    margin-top: 30px;
}
.start-game{
	background: white url('../img/background.png') no-repeat top left;
	background-size:contain;
}
button{
	cursor:pointer;
}
.start-game:before {
	content:'';
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}