<div ng-app="memoryGameApp">

<link rel="stylesheet" href="css/app.css">
<script src="js/app.js"></script>
<div ng-controller="GameCtrl" class="puzzle-container">
  <!--<div>Pairs left to match: {{game.unmatchedPairs}}</div>
  <div>Matching: {{game.firstPick.title}}</div>-->
  <div class="you-win start-game" ng-if="!game.started">
	<div>
	Click start when ready
        <br>
		<button class="flat-btn" ng-click="startGame();">Start Game</button>
      </div>
	
  </div>
  <div class="you-win" ng-if="game.showWin">
	<div>Congratulation
        <br>
      <small>You have won the game <span ng-if=finishedSecond>in {{finishedSecond}} seconds</span></small>
      </div>
	
  </div>
    <div class="you-win" ng-if="failed">
	<div>You Lose
        <br>
         <a href="#" onclick="window.location.reload();return false;" class="flat-btn">Try Again</a>
        </div>
	
       
  </div>
  <div ng-if="game.started">
    <br>
    <div class="timer">
        Time Remaining <timer countdown="30" interval="1000" finish-callback="callbackTimer.finished()">{{seconds}} second{{secondsS}}</timer>
    </div>
    <br>
  <table>
    <tr ng-repeat="row in game.grid">
      <td ng-repeat="tile in row" class="card-container">
        <div class="card" ng-class="{flipped: tile.flipped}" ng-click="game.flipTile(tile)">
            <img class="front" ng-src="img/back.png">
            <img class="back" ng-src="img/{{tile.title}}.png">
        </div>
      </td>
    </tr>
  </table>
    </div>
    
</div>
</div>
