
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

/* Puzzle widgets */

.sliding-puzzle {
    border: 1px solid #ccc;
    border-spacing: 0;
/*	width:100%*/
    display: inline-block;
}

.puzzle-container{
	width:90%;
	display:block;
	margin:10px auto;
    text-align: center;
}
.sliding-puzzle td {
    border-collapse: collapse;
    border: 2px outset white;
    cursor: pointer;
    padding: 0;
}
.sliding-puzzle .puzzle-empty {
    border: none;
    background-color: rgba(80,31,110,0.4) !important;
}
.sliding-puzzle.puzzle-solved td {
    border: none;
}

.word-search-puzzle {
    border: 1px solid #999;
}
.word-search-puzzle td {
    background-color: white;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.word-search-puzzle.puzzle-solved td {
    background-color: #eee;
}
.word-search-puzzle td span {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.word-search-puzzle .puzzle-found {
    background-color: #eee;
}
.word-search-puzzle .puzzle-selected {
    background-color: #f5f5f5;
}
.word-search-puzzle .puzzle-message span {
    background-color: #ffffcc;
    color: red;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 0 5px #444;
}


/* Application */

#types {
    margin: 0 0 40px 0px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
}
#types li {
    display: inline-block;
    padding: 10px;
    margin-right: 40px;
}
#types li a {
    font-size: 22pt;
    color: #999;
}
#types li.selected {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
}
#types li.selected a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#fork {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 149px;
    height: 149px;
    background: url('https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png') no-repeat;
}
#powered {
    position: fixed;
    right: 20px;
    bottom: 15px;
    display: block;
}
#powered img {
    opacity: 0.4;
    width: 200px;
}

#sliding-advanced > div {
    float: left;
    margin: 0 40px 0 0;
    min-width: 300px;
}
#sliding-advanced .sliding-puzzle {
    clear: both;
    margin-top: 30px;
}
#sliding-advanced h2 {
    margin: 0 0 10px 0;
    font-weight: bold;
}
#sliding-advanced .status {
    float: left;
    width: 40%;
    height: 50px;
}
#sliding-advanced .size {
    float: right;
    height: 50px;
    text-align: right;
}
#sliding-advanced .src input {
    width: 98%;
    font-family: "Courier New";
    margin-bottom: 4px;
}

#word-search {
    position: relative;
}
#word-search .word-search-puzzle {
    float: left;
}
#word-search .words {
    list-style: none;
    float: left;
    margin: 4px 20px 0 0;
}
#word-search .words li {
    font-size: 12px;
    margin-bottom: 4px;
    text-align: center;
}
#word-search .words .found {
    color: #bbb;
    text-decoration: line-through;
    font-weight: normal
}
#word-search .status {
    position: absolute;
    left: 0;
    top: 330px;
    text-align: center;
    width: 80px;
    font-weight: bold;
}
.puzzle-result{
   font-family: 'Press Start 2P', cursive;
    border: 1px solid #c7c7c7;
    width: 40%;
    margin: 10px auto;
    text-align: center;
    float: left;
    padding:25px 10px;
    width: 100%;
    padding-top: 15px !important;

}
.puzzle-result img{
    width: 150px;
    vertical-align: middle;
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.timer{
	font-family: 'Press Start 2P', cursive;
    border: 1px solid #c7c7c7;
    width: 40%;
    margin: 10px auto;
    text-align: center;
    float: right;
	padding:25px 10px;;
}
.clearfix{
	clear:both;
}
.modal{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	text-align:center;
	color:white;
}
.modal > div{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.no-padding{
	padding:0;
}

.flat-btn{
   display: block;
    margin: 10 auto;
    font-family: 'Press Start 2P', cursive;
    padding: 25px 70px;
    font-size: 18px;
    background: #501F6E;
    border: grey;
    text-decoration: none;
    color: white;
    /* margin-top: 30px; */
    border-radius: 6px;
    float: right;
}
.puzzle-result.width-auto{
    width: auto !important;
    padding: 25px 10px !important;
}

td{
	box-shadow: inset 0 -3px 3px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 3px 3px rgba(255,255,255,1); /*top internal highlight*/
}