
<div ng-app="puzzleApp" class="puzzle-container">
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css"/>
	

	<div  id="sliding-puzzle">
	<div ng-controller="slidingAdvancedCtrl as vm">
        <div ng-if="!start">
            <div class="puzzle-result width-auto">
                Try To Reach This Result
            </div>
            <a href="#" ng-click="startGmae()" class="flat-btn">Start The Game</a>
            <div class="clearfix"></div>
            <img src="img/stc.jpg" style="width:100%">
            
        </div>
        <div ng-if="start">
            
           

            <div class="clearfix"></div>
<!--
            <div class="modal" ng-if="callbackTimer.status">
                <div class="youlose" >
                    <h1>You Lose!</h1>
                    <h6>You couldn't finish the puzzle in the given time...Try again! </h6>
                </div>
            </div>
-->
            <div class="timer">
                <timer interval="1000">{{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
            </div>
            <sliding-puzzle size="3x3" src="img/stc.jpg"></sliding-puzzle>
			 <div class="puzzle-result no-padding">
                Puzzle Result <img src="img/stc.jpg" class="">
            </div>

            

        </div>
    </div>
        
</div>
